@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
    background-image: url("./hero-background.svg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.361);
}

.text-shadow {
    text-shadow: #b42c2c 0.1rem 0.1rem;
}